@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}

body {
  background-color: #000000;
  background: linear-gradient(76deg, #ffc107 30%, #000000 1%, #000000 69%);
}

nav {
  position: fixed;
  right: 0;
  top: 20%;
  margin-top: auto;
}
nav > ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

nav img {
  border: 1px solid #ffc107;
  background-color: #222324;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  margin: 16px;
}

nav img:hover,
.personal_section_button:hover {
  background-color: #ffc107;
}

/*******************************************************************************************/
.personal_section_container {
  margin-top: 10%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  line-height: 52px;
}
.author_image {
  height: 450px;
  width: 350px;
  border-radius: 10px;
}

.personal_section {
  width: 600px;
}

.hyphen {
  display: inline-block;
  position: relative;
  bottom: 66px;
  width: 28px;
  border-radius: 12%;
  height: 5px;
  background-color: #ffc107;
}

.personal_section_header {
  display: inline-block;
  padding-left: 10px;
  font-size: 40px;
  font-weight: 900;
}

.personal_section > p {
  line-height: 2;
}

.personal_section_header01 {
  color: #ffc107;
}

button {
  margin-top: 30px;
  border: solid #ffc107 1px;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 900;
  background-color: #000000;
  position: relative;
  height: 50px;
}

.personal_section_button_text {
  text-align: left;
  padding-right: 48px;
}

.innerButton {
  background-color: #ffc107;
  background-image: url("imgs/arrow-icon.png");
  background-position: center;
  background-size: contain;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 25px;
  width: 25%;
  height: 100%;
}

footer {
  text-align: center;
  margin-top: 100px;
}
